.dashboard {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
 margin-bottom: 3rem;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.card.dark {
  background-color:  #1a1a24;
  color: white;
}

.card.bright {
  background: linear-gradient(135deg, #007cf0, #00dfd8);
  color: white;
}

.metrics-table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
  color: white;
}

.metrics-table td,
.metrics-table th {
  padding: 6px 12px;
  text-align: left;
}

.card.dark .metrics-table {
  color: #ffffffb3;
}

.card.bright .metrics-table {
  color: #ffffff;
}

.capital-gain {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}

.highlight {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.selected {
  background-color: rgba(0, 255, 200, 0.1);
  cursor: pointer;
}
.metrics-table,
.metrics-table th,
.metrics-table td {
  border: none !important;
  border-collapse: collapse;
}

.metrics-table tr {
  border-bottom: none !important;
}

.metrics-table td {
  padding: 6px 12px;
}
